.header .conteiner {
    display: flex;
    align-items: center;
    background-color: var(--btn-color);
    height: 60px;
  }
  .header {
    border-bottom: 1px solid var(--headerborder-color);
  }
  .nav-menu__list {
    display: flex;
    padding: 0;
  }
  .nav-menu {
    display: flex;
    align-items: center;
    padding: 0;
  }
  .nav-menu__item--portfolio {
    display: flex;
    padding: 0;
  }
  .nav-menu__item {
    padding: 0;
  }
  .nav-menu__item:not(:last-child) {
    margin-right: 35px;
  }
  .logo {
    font-family: raleway;
    font-style: normal;
    font-weight: 700;
    font-size: 26px;
    line-height: 1.17;
    margin-right: 70px;
  }
  .header__link-list {
    display: flex;
    align-items: center;
    margin-left: auto;
    padding: 0;
  }
  .header__link-item {
    display: flex;
    fill: var(--text-color);
    justify-content: center;
    margin-right: 37px;
    transition: fill 250ms cubic-bezier(0.4, 0, 0.2, 1);
  }
  .web {
    color: var(--hover-color);
  }
  .nav-menu__item--portfolio,
  .nav-menu__item--index {
    color: var(--back-color);
  }
  .header__link-item--contacts {
    color: var(--text-color);
    margin-left: 10px;
  }
  .nav-menu__item--portfolio,
  .header__link-item--contacts,
  .nav-menu__item--index {
    text-decoration: none;
    font-style: normal;
    font-weight: 500;
    line-height: 1.17;
    font-size: 14px;
    position: relative;
    transition: text 250ms cubic-bezier(0.4, 0, 0.2, 1);
  }
  .nav-menu__item--index:hover,
  .nav-menu__item--portfolio:hover {
    color: var(--hover-color);
    cursor: pointer;
  }
  .nav-menu__item--underline::after {
    display: block;
    content: "";
    width: 100%;
    height: 2px;
    background-color: var(--hover-color);
    position: absolute;
    bottom: -21px;
  }
  .header__link-item:hover, .header__link-item--contacts:hover {
    fill:  var(--hover-color);
    color: var(--hover-color);
    cursor: pointer;
  }
  .header__link-item:hover a {
    color: var(--hover-color);
  }